@{
    ViewBag.Title = "Forgot Password";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        a link to reset your password will be emailed to you.
    </p>
</div>
	
