@{
    ViewBag.Title = "The Home Page";
}

<div class="jumbotron">
    <h1>Baby Store Inc</h1>
    <p class="lead">Baby Store Inc. is a new and upcoming local e-commerce store that sells top quality products.</p>
     <img src="~/Content/ProductImages/Thumbnails/backgroundtwo.jpg" alt="background"/>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Inception</h2>
        <p>
            During this time of Covid, online shopping has become the safest form of shopping and is an emerging market for both customer and
            retailer safety. Online shopping now the biggest market in the world.
            Dont be left out join the wonderful world of online shopping.
        </p>
        <img src="~/Content/ProductImages/Thumbnails/backgroundthree.jpg" alt="backgroundThree" />
    </div>
    <div class="col-md-4">
        <h2>About Us</h2>
        <p>We are an up and coming start up company that seeks to help people during this time of crisis to get the neccessities they need
        in order to live through this crisis by offering what we can to get by.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>